.main-container {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    gap: 1rem;
}

.personal-details-container,
.cv-container {
    width: 37%;
    padding: 1rem;
    border: 2px solid black;

}

.input-container {
    display: flex;
    flex-direction: column;
}

.cv-container header {
    border-bottom: 2px solid black;
}

.contact-details img {
    width: 20px;
}

.cv-container header {
    display: flex;
    justify-content: space-between;
}

.contact-details {
    display: flex;
    justify-content: center;
    width: fit-content;
    font-size: 0.8rem;
    font-weight: 300;
}